<ng-container *ngIf="tierList$ | async; let tierList">
  <div class="tierlist-container">
    <h1>{{ tierList.tierListTitle }}</h1>

    <!-- Boucle sur les tiers -->
    <div *ngFor="let tier of tierList.tiers; let i = index" class="tier">
      <div class="tier-header">
        <!-- Zone d'édition du titre du tier -->
        <input
          [(ngModel)]="tier.tierTitle"
          class="tier-title-input"
          placeholder="Titre tier"
        />

        <!-- Bouton pour supprimer le tier -->
        <button class="button delete-button" (click)="removeTier(i)">X</button>
      </div>

      <!-- Boucle sur les items dans chaque tier -->
      <div *ngFor="let item of tier.items; let j = index" class="item">
        <!-- Zone d'édition du titre de l'item -->
        <input
          [(ngModel)]="item.itemTitle"
          class="item-title-input"
          placeholder="Titre item"
        />

        <!-- Bouton pour supprimer l'item -->
        <button class="button delete-button" (click)="removeItem(i, j)">X</button>
      </div>

      <!-- Bouton pour ajouter un item dans le tier -->
      <button class="button add-item-button" (click)="addItem(i)">+</button>
    </div>

    <!-- Bouton pour ajouter un nouveau tier -->
    <button class="add-tier-button" (click)="addTier()">Ajouter un Tier</button>
    <button class="button save-tier-button" (click)="save()">Sauvegarder le Tier</button>
  </div>
  <!-- Bouton pour sauvegarder le tier -->


</ng-container>


